:root {
  --border-color: 1px solid #ccc;
}
h1,
p {
  text-align: center;
}
form,
input {
  border: var(--border-color);
  border-radius: 3px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.form {
  justify-content: space-between;
  min-height: 300px;
  max-width: 300px;
  padding: 1em;
  margin: auto;
  border: var(--border-color);
  border-radius: 5px;
  background: #eee;
  font-family: sans-serif;
}
form.flex-column input {
  padding: 0.5em;
  margin-top: 0.5em;
}
form.flex-column input:focus {
  outline: none;
  box-shadow: inset 0 0 2px #333;
}
